BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
PointerAlignment: Left
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
DerivePointerBinding: false
AlignAfterOpenBracket: true
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
BraceWrapping:
    AfterControlStatement: Always
    AfterFunction: true
