BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
PointerAlignment: Left
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach
DerivePointerBinding: false
AlignAfterOpenBracket: true
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
SortIncludes: true
IncludeBlocks: Preserve
AccessModifierOffset: -2
BraceWrapping:
  AfterClass: true
  AfterNamespace: true
  AfterControlStatement: Always
  AfterFunction: true
  BeforeElse: true
